.github/ @alnoki
cfg/ @alnoki
src/python/ @xbtmatt
src/sh/pre-commit-local-hooks/ @alnoki
src/sh/python-lint/ @xbtmatt
CONTRIBUTING.md @alnoki
LICENSE.md @alnoki
README.md @alnoki
src/move/ @alnoki
doc/architecture-specification.md @alnoki
